@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Hammersmith+One&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  background-color: #f4a460;
  background-image: url(./img/egypt.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
  font-family: 'Hammersmith One', sans-serif;
  color: #fff9dc;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* SCREEN main card */
.screen {
  height: 95vh;
  width: 80%;
  border-radius: 1rem;
  backdrop-filter: brightness(0.22) sepia(1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STAGE games */
.stage {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#quoteInput {
  color: #96633a;
  overflow-x: hidden;
  font-family: 'Hammersmith One';
  font-size: 1rem;
  text-indent: 10px;
  resize: none;
  text-indent: 10px;
  padding: 0.75rem 1rem;
  width: 90%;
  height: 50%;
  background-color: #cfb8a5;
  text-align: justify;
}

#quoteDisplay {
  color: #c6a890;
  overflow-x: hidden;
  font-size: 1.3rem;

  resize: none;
  text-indent: 10px;

  width: 90%;
  height: 50%;
  user-select: none;
  text-align: justify;
}

textarea::-webkit-scrollbar {
  width: 0.4rem;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #7d4a22;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #763e24;
  border-radius: 20px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gauge {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: self-end;
  justify-content: flex-start;
  margin: 0 15px;
}

.gauge em {
  user-select: none;
  font-size: 0.8rem;
}

.timer,
.wpm,
.lpm {
  font-size: 2.2rem;
  line-height: 1;
  background: linear-gradient(to right top, #7d4a22, #e9dcd3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

/* INFO dashboard */
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right top, #e5ded8, #965623);
  border-radius: 1rem;
  height: 100%;
  padding: 15px;
}

.link {
  display: flex;
  margin: 0.5rem 0.1rem;
  padding: 0.3rem 2rem;
  align-items: center;
  justify-content: flex-start;
}

.link img {
  max-width: 1.5rem;
  max-height: 1.5rem;
  margin-right: 0.6rem;
}

.link a {
  text-decoration: none;
  color: beige;
}

.fastscribe {
  color: #96633a;
  padding: 0.2rem;
  user-select: none;
}

.fastscribe h3 {
  font-size: 1rem;
  margin-bottom: -0.2rem;
}

.fastscribe em {
  font-size: 0.7rem;
}

.scribe {
  display: flex;
  align-items: flex-end;
  margin: 20px 0;
}

.scribe img {
  max-height: 6rem;
}

.scribe blockquote {
  font-size: 0.6rem;
  margin: 0 1rem 0 0rem;
  font-style: italic;
  color: #ae7e56;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
  .screen {
    flex-direction: column;
  }

  .quote-input#quoteInput {
    width: 50%;
    min-height: 200px;
  }
  .quote-display#quoteDisplay {
    width: 50%;
    min-height: 200px;
  }
}
