@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&family=Hammersmith+One&display=swap');

/* GENERAL STYLING */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  background-color: #f4a460;
  background-image: url(./img/egypt.jpg);
  background-size: cover;
  background-position: top;
  height: 100vh;
  font-family: 'Hammersmith One', sans-serif;
  color: #fff9dc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  color: #26c500;
}

.incorrect {
  color: red;
  position: relative;
}

.incorrect::before {
  content: '';
  background-color: #fffa6d;
  width: 0.75rem;
  height: 0.1rem;
  position: absolute;
  z-index: -1;
  top: 1.1rem;
}

/* SCREEN main card */
.screen {
  height: 95vh;
  width: 95%;
  border-radius: 1rem;
  backdrop-filter: brightness(0.22) sepia(1);
  -webkit-backdrop-filter: brightness(0.22) sepia(1);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STAGE */
.stage {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
#stage-display {
  color: #c6a890;
  overflow-x: hidden;
  font-size: 1.2rem;
  resize: none;
  text-indent: none;
  padding: 0.75rem 1rem;
  width: 90%;
  height: 50%;
  user-select: none;
  text-align: left;
  box-sizing: content-box;
}

#stage-input {
  color: #81512a;
  overflow-x: hidden;
  font-family: 'Hammersmith One';
  font-size: 1.2rem;
  text-indent: 10px;
  resize: none;
  text-indent: none;
  padding: 0.75rem 1rem;
  width: 90%;
  height: 50%;
  background-color: #cfb8a5;
  text-align: left;
  outline: none;
  box-sizing: content-box;
}
#stage-input:focus,
#stage-input:focus-within,
#stage-input:focus-visible {
  border: 3px solid #1b5a5a;
}

textarea::-webkit-scrollbar {
  width: 0.4rem;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #7d4a22;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #763e24;
  border-radius: 20px;
}

.info-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
}

.gauge {
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.gauge em {
  user-select: none;
  font-size: 0.8rem;
}

#timer,
#wpm,
#lpm {
  font-size: 2rem;
  line-height: 1;
  background: linear-gradient(to right top, #150101, #724503);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  margin-bottom: -0.3rem;
}

/* INFO  */
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right top, #e5ded8, #965623);
  border-radius: 1rem;
  height: 100%;
  min-width: 40%;
  padding: 15px;
}

.info-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  margin-top: 1rem;
  display: grid;
  grid-auto-flow: column;
}

.link img {
  max-width: 1rem;
  max-height: 1rem;
  margin-right: 0.5rem;
}

.link a {
  text-decoration: none;
  color: #f5f5dc;
  font-size: 0.9rem;
}

.info-fastscribe {
  color: #96633a;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1rem;
}

.info-fastscribe h3 {
  font-size: 2.3rem;
  margin-bottom: 0.3rem;
  color: #1b5a5a;
}

.info-fastscribe em {
  font-size: 0.7rem;
}

.scribe {
  display: flex;
  align-items: flex-end;
}

.scribe img {
  max-height: 4rem;
}

.scribe blockquote {
  font-size: 0.6rem;
  margin: 0 0.2rem;
  font-style: italic;
  color: #ae7e56;
  text-align: left;
}

.info-footer {
  font-size: 0.5rem;
  text-align: center;
  color: #b08059;
}
.copyrights {
  margin-top: 1rem;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 650px) and (min-width: 271px) {
  .screen {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0;
  }

  .stage {
    width: 100%;
    height: 65vh;
  }
  #stage-display {
    height: 50%;
    width: 90%;
    box-sizing: border-box;
  }
  #stage-input {
    height: 50%;
    width: 90%;
    box-sizing: border-box;
  }
  .info {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
  }

  .info-fastscribe {
    margin-top: 1rem;
    text-align: center;
    width: 70%;
  }
}
@media only screen and (max-width: 270px) {
  .screen {
    border-radius: 0;
    flex-direction: column;
    height: 200vh;
  }
  .stage {
    height: 80vh;
  }
  .info {
    height: 120vh;
  }

  .link {
    display: flex;
    flex-direction: column;
  }
  .info-fastscribe {
    margin-top: -2rem;
    text-align: center;
    width: auto;
  }
  .info-fastscribe h3 {
    font-size: 1rem;
  }
  .link a {
    font-size: 0.5rem;
  }
  .scribe {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
}

@media only screen and (max-height: 850px) {
  .info-top {
    flex-direction: row;
  }
  .gauge {
    width: 30%;
    margin: 1rem 0.8rem 0;
  }
}

@media only screen and (max-height: 400px) {
  .screen {
    min-height: 150vh;
  }
  main {
    min-height: 160vh;
  }
  .link {
    margin: 0.3rem;
  }
}
